
body::before{
    content:'';
    position:absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("images/Screenshot\ \(97\).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 1;
}
.interface{
    background-color: rgba(236, 234, 255, 0.7);
    color:black;
    top:41%;
    left:50%;
    position:fixed;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:25px 65px;
    border: none;
    box-shadow: 0px 0px 2000px 10px rgb(236, 234, 255);
    
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    color: rgb(1, 1, 68);
    letter-spacing: 4px;
    text-decoration: underline;
}
p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    width:100%;
    color: black;
    margin-bottom: 15px;
}
::placeholder
{
    color:rgba(0, 0, 0, 0.664);
}
input[type='text'],input[type='password'],input[type='email']
{
    border:none;
    
    border-bottom: 1.4px solid #111;
    background-color: transparent;
    height:25px;
    width:250px;
    font-size: 16px;
    margin-bottom: 20px;
    color:darkblue;
    
}
input[type='text']:hover{
    background-color: lightsteelblue;
    
}
input[type='password']:hover{
    background-color: lightsteelblue;

}



input[type='submit']{
    margin-left: 15%;
    border:none;
    border-radius: 50px;   
    background-color: royalblue;
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;    
    transition: all 0.2s linear;
}
input[type='submit']:hover{
    cursor: pointer;
    background-color: darkblue;
    font-size: 24px;
    color: white;
    letter-spacing: 6px;
}

.newreg{
    text-decoration: none;
    font-size: 15.5px;
    color:black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    display:block;

}
.newreg:hover{
    transition: 0.3s;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 15.75px;
    letter-spacing: 0.2px;
    
    border-radius: 50px;
    background-color:transparent;
    background-color: rgb(206, 202, 244);
    color: purple;
}
.errorloginbox{
    font-family: sans-serif;
    font-size: 20px;
}